@mixin container() {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

@mixin bg($url, $position: center, $size: cover) {
    background-position: $position;
    background-size: $size;
    background-image: url($url);
    background-repeat: no-repeat;
}